.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here a*/
    height: 40px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
}

main .container {
    margin-top:1em;
    padding-bottom: 20px;
}

.footer p {
    margin-left: 0px;
}

.message {
    font-size: 20px;
}

.blog-preview, .blog-post {
    font-size: 16px;
}