{% extends "layouts/main.twig" %}

{% block content %}
<div id="index">
    <h2 id="main-site-text">About this website and its creator</h2>
    <p class="message"><a href="https://github.com/Deadpikle/yamf-php" target="_blank">YAMF</a> (Yet Another MVC Framework) is a simple, small, open-source PHP MVC framework built by <a href="https://github.com/Deadpikle" target="_blank">Deadpikle</a> with no external dependencies other than <a href="https://getcomposer.org" target="_blank">Composer's</a> autoloader. This page is set up in the demo application as a static web page that doesn't have an associated controller. If you like the framework, why not give it a *star* on GitHub? If you think that the framework is missing something, file a feature request or open a pull request!</p>
</div>
{% endblock %}